/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
  z-index: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 0;
}
.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0;
}
.msgerror {
  color: red;
  font-size: 24px;
  margin-top: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 50px 0;
  background-color: transparent;
  z-index: 1;
}

.entete {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  background-color: black;
  color: white;
  z-index: 0;
  max-width: 1440px;
  margin: 0 -150px;
  height: 59px;
  align-items: center;
  transform: translateY(-50px);
}
.mesprojets {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.entete1 {
  padding: 10px;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
  cursor: pointer;
}
li a {
  color: black;
  text-decoration: none;
}
li a:hover {
  color: #b1663c;
}
#log {
  font-weight: bolder;
  color: black;
  text-decoration: none;
  font-size: 16.8px;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
#portfolio figure {
  position: relative;
  z-index: -1;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
  z-index: -1;
}
.gallery i {
  position: absolute;
  background-color: black;
  padding: 2px;
  display: none;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
input[type="submit"]:hover {
  background-color: black;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
/* ---------------------------------------------------------------- */
#portfolio .filtres {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 2.5rem;
  width: 100%;
}
#portfolio .filtres button {
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  color: #1d6154;
  height: 37px;
  border-radius: 60px;
  background-color: transparent;
}

#portfolio .filtres button:hover {
  background-color: #1d6154;
  color: white;
  cursor: pointer;
}

#portfolio .filtres button.btn_objets,
.btn_tous {
  width: 100px;
}
#portfolio .filtres button.btn_appartements {
  width: 157px;
}
#portfolio .filtres button.btn_hotels_restaurants {
  width: 198px;
}
#mdp::placeholder {
  color: #c4c0c0;
  font-style: italic;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.popupBackground,
.popupBackground2 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(68, 66, 66, 0.8);
}
.popup,
.popup2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  position: relative;
  border-radius: 10px;
  width: 630px;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  align-items: center;
  z-index: 2;
}
.popup2 {
  z-index: 6;
}
.popupicones {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.popupicones button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.popup h2,
.popup2 h2 {
  font-size: 26px;
  font-family: Work Sans;
  font-weight: 400;
  color: black;
  margin-bottom: 46px;
  margin-top: 10px;
}
.fa-arrow-left {
  visibility: hidden;
}

.fa-arrow-left.ajout {
  visibility: visible;
}
#modif {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.popup img,
.popup2 img {
  width: 78px;
}
.popup figure,
.popup2 figure {
  position: relative;
}
.popup button,
.popup2 button {
  padding: 0;
}
#trash {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.popup figure i {
  position: absolute;
  display: block;
}
.popup figcaption {
  display: none;
}
.newdispo {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 7px;
  padding-bottom: 80px;
  border-bottom: solid;
  border-width: 1px;
  color: rgb(92, 93, 93);
}
input.btnpopup {
  height: 36px;
  width: 237px;
  margin-top: 45px;
  margin-bottom: 45px;
  border-style: unset;
}
.cadrephoto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 420px;
  height: 169px;
  background-color: #e8f1f6;
  border-radius: 3px;
}
.cadrephotofirst {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.cadrephotofirst p {
  font-size: 10px;
  margin-bottom: 1.19rem;
}
.fa-image {
  color: #b9c5cc;
  font-size: 76px;
  padding: 13px;
}
#cadrephotoimg {
  display: none;
  height: 169px;
  width: auto;
}
#ajoutphoto {
  height: 36px;
  width: 173px;
  background-color: #b9c5cc;
  border-radius: 18px;
  padding: 10px;
  color: #306685;
  font-size: 14px;
  font-weight: 500;
  border: none;
  margin-bottom: 7px;
  cursor: pointer;
  text-align: center;
}
#ajoutphoto1 {
  height: 36px;
  width: 173px;
  background-color: #b9c5cc;
  border-radius: 18px;
  padding: 10px;
  color: #306685;
  font-size: 14px;
  font-weight: 500;
  border: none;
  margin-bottom: 7px;
  cursor: pointer;
  margin-top: 11px;
  z-index: 0;
}
#formAjoutPhoto {
  display: flex;
  flex-direction: column;
  width: 420px;
  padding-bottom: 47px;
  border-bottom: solid;
  color: rgb(92, 93, 93);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.cadrephotofirst label {
  z-index: 3;
}
.cadrephotofirst input {
  position: absolute;
  z-index: 5;
}
#btnajoutphoto {
  display: flex;
}
label {
  height: 20px;
  margin-top: 11px;
  margin-bottom: 11px;
  font-weight: 500;
  font-size: 14px;
}
input[type="text"],
select {
  height: 51px;
  background: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: none;
  cursor: pointer;
}
#valider {
  width: 237px;
  height: 36px;
  color: white;
  font-weight: 700;
  border-radius: 60px;
  border: none;
  font-family: Syne;
  margin-bottom: 55px;
  margin-top: 32px;
  cursor: pointer;
}
.gris {
  background: #a7a7a7;
}
.vert {
  background-color: #1d6154;
}
.vert:hover {
  background-color: black;
}
